.title {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  text-align: center;
  color: #323b60;
}

/* to wrap all pink containers */
.our-projects-container {
  background-color: #bbebea;
  padding-bottom: 5px;
}

.our-projects-individual-containers {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: #debcef;
}
.project-title {
  color: #323b60;
  margin-top: 10px;
}

.project-textAll {
  width: 100%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-size: 16px;
  text-align: justify;
  justify-content: end;
  color: #323b60;
  margin-inline: 5%;
  margin-bottom: 10px;
}

a {
  color: #323b60;
}

a:visited {
  color: #323b60;
}

.project-textAll h3 {
  padding: 5px;
}

.img-container-op {
  align-items: center;
  padding: 20px;
  border-radius: 25px;
}
.img-op {
  height: 210px;
  border-radius: 17px;
}

.github-icon {
  margin-left: 97%;
}
