  /* display: flex;  Use flexbox to position items horizontally */
  /* align-items: center;  Center items vertically */

.navbar button {
  /*The Team and Our Projects buttons*/
  margin-right: 15px;
  background-color: #FEB211;
  font-weight: bold;
  color: #39455D;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  border: none;
}

.page-container {
  width: 100%;
  background-color: #BBEBEA;
}

.header {
  margin: 5% 6% 3% 6%;
  font-size: 16px;
  font-weight: bold;
  color: #323b60;
  text-align: center;
}

.text-and-photos-container {
  display: flex;
  flex-direction: column;
}

.text {
  justify-content: space-between;
  margin: 2% 5% 2% 5%;
  font-size: 14px;
  color: #323b60;
  text-align: justify;
}

.cyan-line {
  background-color: #50CFCD;
  width: 80%;
  height: 10px;
  border-radius: 25px;
  margin-left: 10%;
}

.volunteers-container {
  background-color: #CEA0E4;
  margin-top: 1rem;
}

.volunteers-list-header {
  font-size: 14px;
  font-weight: bold;
  color: #323b60;
  text-align: center;
}

.volunteer-info-container {
  display: flex; /* horizontally */
  align-items: center; /* vertically */
  padding: 1rem;
  background-color: rgba(255,255,255,0.25); /* transparent */
  border-radius: 0.5rem;
  margin: 2% 5% 2% 5%;
  text-align: left;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}



.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 25%;
  margin-right: 1rem;
}

.volunteer-details {
  display: flex;
  flex-direction: column;
  color: #323b60;
}

.name {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.job-title-skills {
  /* justify-content: space-between; */
  font-size: 14px;
  /* font-weight: 500; */
  /* margin: 2% 5% 2% 0%; */
  
  /* text-align: justify; */
}

.react-icons {
  /* display: inline-block; */
  margin-left: 0.5rem;
  color: #323b60;
}



.link-our-projects {
  display: flex;
  flex-direction: column;
  background-color: #ABB2E7;
}
.link-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: #323b60;
  text-align: center;
  /* background-color: #e5edef; */
  background-color: #ABB2E7;
  border-color: transparent;
}
.footer-container {
  display: flex;
  flex-direction: column;
  /* background-color: #93c7bf; */
  background-color: #50CFCD;
  width: 100%;
  text-align: right;
  @media (min-width: 375px) {
    position: inherit;
  }
}

.footer-text-copyright {
  border: 0;
  padding-right: 1rem;
  font-size: 12px;
  color: #323b60;
  /* background-color: #93c7bf; */
  background-color: #50CFCD;
}



/* ----------------NOT IN USE------------------- */

.photo {

  /* column-gap: 1rem; */  flex-direction: column;
  cursor: pointer;
  border-color: transparent;
  font-size: 14px;
  text-align: center;
  position: relative;
  /* border: 2px solid rgb(214, 18, 224); */
}

/* .photo a {
  text-decoration: none;
  color: #323b60;
  margin-bottom: 10px;
} */

.photo-volunteers {
  display: flex; /* Use flexbox to position items horizontally */
  /* justify-content: center; Center items horizontally */
  
  flex-direction: column;
  cursor: pointer;
  border-color: transparent;
  font-size: 14px;
  text-align: center;
  position: relative;
  flex: 0 0 20%;
  margin-bottom: 20px;
}

.photo-volunteers a {
  text-decoration: none;
  color: #323b60;
}

/* .photo-size {
  height: 160px;
} */
/* .text-container {
  display: flexbox;
  flex-direction: column;
  background-color: #BBEBEA;
} */


/* .all-photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #323b60;
  font-weight: bold;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  text-decoration: none;
  margin: 2rem 5% 2% 5%;
  background-color: #FEB211;
} */






